@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-accent: var(--accent);

	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-border: var(--border);

	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
}

::-webkit-scrollbar {
	display: none;
}

html {
	scrollbar-width: none;
	transition:
		background-color 0.3s,
		color 0.3s;
}

:root {
	--background: hsl(0 0% 95%);
	--foreground: hsl(0 0% 6%);

	--card: hsla(0 0% 100% / 0.72);
	--card-foreground: hsl(0 0% 8%);

	--accent: hsl(0 0% 96%);
	--border: hsl(0 0% 88%);
	--shadow: hsla(0 0% 0% / 0.06);

	--primary: hsl(0 0% 8%);
	--primary-foreground: hsl(0 0% 100%);
}

.dark {
	--background: hsl(0 0% 5%);
	--foreground: hsl(0 0% 96%);

	--card: hsla(0 0% 100% / 0.045);
	--card-foreground: hsl(0 0% 96%);

	--accent: hsl(0 0% 10%);
	--border: hsl(0 0% 16%);
	--shadow: hsla(0 0% 0% / 0.35);

	--primary: hsl(0 0% 96%);
	--primary-foreground: hsl(0 0% 8%);
}

body {
	background: var(--background);
	color: var(--foreground);
}
